// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 Avnet Silica
 */

#include "imx8mp-evk.dts"

/ {
	memory@40000000 {
		device_type = "memory";
		reg =
			<0x0 0x40000000 0 0x80000000>, /* bank0, 2GiB */
			<0x0 0xc0000000 0 0x80000000>; /* bank1, 2GiB */
	};

	reg0_vcc_ext_in: regulator0-vcc-ext-in {
		compatible = "regulator-fixed";
		regulator-name = "vcc0-ext-in";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_csi0_pwn>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg1_vcc_ext_in: regulator1-vcc-ext-in {
		compatible = "regulator-fixed";
		regulator-name = "vcc1-ext-in";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_csi1_pwn>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio4 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&dewarp {
	status = "okay";
};

&iomuxc {
	pinctrl_csi0_pwn: csi0_pwn_grp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11	0x19
		>;
	};

	pinctrl_csi1_pwn: csi1_pwn_grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_RXC__GPIO4_IO01	0x19
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C4_SCL__I2C4_SCL		0x400001c3
			MX8MP_IOMUXC_I2C4_SDA__I2C4_SDA		0x400001c3
		>;
	};

	pinctrl_i2c5: i2c5grp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_TX__I2C5_SCL		0x400001c3
			MX8MP_IOMUXC_SPDIF_RX__I2C5_SDA		0x400001c3
		>;
	};
};

&i2c2 {
	/delete-node/ov5640_mipi@3c;
};

&i2c3 {
	/delete-node/ov5640_mipi@3c;
};

&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	camera0: alvium@3c {
		compatible = "alliedvision,alvium-csi2";
		reg = <0x3c>;
		vcc-ext-in-supply = <&reg0_vcc_ext_in>;
		status = "okay";

		csi_id = <0>;

		port {
			alvium0_out: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <681250000>;
				clock-lanes = <0>;
			};
		};
	};
};

&i2c5 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c5>;
	status = "okay";

	camera1: alvium@3c {
		compatible = "alliedvision,alvium-csi2";
		reg = <0x3c>;
		vcc-ext-in-supply = <&reg1_vcc_ext_in>;
		status = "okay";

		csi_id = <1>;

		port {
			alvium1_out: endpoint {
				remote-endpoint = <&mipi_csi1_ep>;
				data-lanes = <1 2 3 4>;
				link-frequencies = /bits/ 64 <681250000>;
				clock-lanes = <0>;
			};
		};
	};
};

&isi_0 {
	status = "okay";

	disable_resolution_check;
	dma-coherent;

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isi_1 {
	status = "okay";

	disable_resolution_check;
	dma-coherent;

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isp_0 {
	status = "disabled";
};

&isp_1 {
	status = "disabled";
};

&mipi_csi_0 {
	clock-frequency = <681250000>;
	assigned-clock-rates = <500000000>;
	status = "okay";
	data-lanes = <4>;

	port {
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&alvium0_out>;
			data-lanes = <4>;
			csis-hs-settle = <14>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};

&mipi_csi_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <681250000>;
	assigned-clock-rates = <500000000>;
	status = "okay";
	data-lanes = <4>;

	port@1 {
		reg = <1>;
		mipi_csi1_ep: endpoint {
			remote-endpoint = <&alvium1_out>;
			data-lanes = <4>;
			csis-hs-settle = <14>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};

&pcie {
	status = "disabled";
};

&pcie_ep {
	status = "disabled";
};